<article class="single-page">

  <header class="entry-header">
    <h1 class="entry-title">Archives</h1>
  </header>

  <div class="entry-content">

    <% # TODO: add thumbnail to archives? %>
    <!--<div class="entry-thumbnail">-->
      <!--<a href="#" title="Permalink to ..." rel="id?">-->
        <!--&lt;!&ndash;<img />&ndash;&gt;-->
      <!--</a>-->
    <!--</div>-->

    <div class="entry-body">

      <% current_year, current_month, close_list = nil, nil, nil %>
      <% @posts.each do |post| %>
        <% date = post.publish_date %>

        <% unless date.year == current_year && date.month == current_month %>
          <%= '</ul>'.html_safe if close_list %>
          <%= "<h2>#{date.strftime('%B %Y')}</h2>\n<ul>".html_safe %>
          <% close_list = false %>
        <% end %>

        <li><%= link_to "#{post.publish_date.strftime('%d')}: #{post.title}", post_path(post) %></li>

        <% unless date.year == current_year && date.month == current_month
             current_year, current_month, close_list = date.year, date.month, true
           end %>
        <% end %>

    </div>
  </div>


  <%= render 'shared/components/page_meta',
             page: OpenStruct.new({   publish_date: DateTime.now, # TODO: set correct publish date
                                      updated_date: DateTime.now, # TODO: set correct updated date
                                      url: archives_path,
                                      author: User.find(1), # TODO: set author with url slug
                                      terms: nil
                                  }) %>

</article>
