<article class="single-page">

  <header class="entry-header">
    <h1 class="entry-title">Camera gear</h1>
  </header>

  <div class="entry-content">

    <!--<div class="entry-thumbnail">-->
      <!--<a href="http://thatcameraguy.co.uk/centon-df-300-minolta-x300/" title="Permalink to Centon DF-300 / Minolta X300" rel="9">-->
        <!--<img width="1280" height="855" src="http://thatcameraguy.co.uk/wp-content/uploads/2015/08/centon-df-300-05-1280x855.jpg" alt="man with his bird">-->
      <!--</a>-->
    <!--</div>-->


    <div class="entry-body">
      <h2>What I shoot with</h2>
      <h3>Camera</h3>
      <p><strong>35mm film:</strong></p>
      <ul>
        <li><a href="/tag/centon-df-300/">Centon DF-300</a></li>
        <li><a href="/tag/minolta-x700/">Minolta X700</a></li>
        <li><a href="/tag/nikon-f100/">Nikon F100</a></li>
      </ul>
      <p><strong>Medium format:</strong></p>
      <ul>
        <li><a href="/tag/bronica-sqai/">Zenza Bronica SQai</a></li>
      </ul>
      <p><strong>Digital slr</strong></p>
      <ul>
        <li>Nikon D7000</li>
        <li>Nikon D700</li>
      </ul>
      <h3>Lens</h3>
      <p><strong>Nikon AF:</strong></p>
      <ul>
        <li>Nikon 50mm F1.4D</li>
        <li>Nikon 28mm F2.8D</li>
        <li><a href="/tag/sigma-70-200mm-f2-8-os/">Sigma 70-200mm F2.8 OS</a></li>
      </ul>
      <p><strong>Minolta MD:</strong></p>
      <ul>
        <li>Centon 50mm f1.8</li>
        <li>Tokina 28-70mm</li>
        <li>Vivitar 35-105mm</li>
        <li>Minolta 135mm F3.5</li>
        <li>Centon 80-200mm</li>
      </ul>
      <p><strong>Bronica</strong></p>
      <ul>
        <li>80mm f2.8</li>
        <li>110mm macro</li>
      </ul>
    </div>
  </div>
</article>
