<%
  set_body_class 'home'
%>
<% content_for :robots do %>
  <meta name="robots" content="index, follow">
<% end %>

<article class="single-page">
  <h2 class="a11y"><%= Settings.site.title %></h2>
  <%= render 'shared/components/page_meta',
             page: OpenStruct.new({   publish_date: DateTime.parse('2015-08-17T18:23:03+00:00'),
                                      updated_date: DateTime.parse('2015-08-17T18:23:03+00:00'),
                                      url: camera_gear_path,
                                      author: site_author,
                                      terms: nil
                                  }) %>

</article>
