 <article class="single-page">
   <a href="http://thatcameraguy.co.uk/centon-df-300-minolta-x300/#comments">
     <span class="comment-icon icon-block"></span>
   </a>

   <header class="entry-header">
     <h1 class="entry-title">Centon DF-300 / Minolta X300</h1>
   </header>

   <div class="entry-content">

     <div class="entry-thumbnail">
       <a href="http://thatcameraguy.co.uk/centon-df-300-minolta-x300/" title="Permalink to Centon DF-300 / Minolta X300" rel="9">
         <img width="1280" height="855" src="http://thatcameraguy.co.uk/wp-content/uploads/2015/08/centon-df-300-05-1280x855.jpg" alt="man with his bird">
       </a>
     </div>
     <div class="entry-body">

       <p>
         One of my first film cameras – the <a href="/tags/centon-df-300">Centon DF-300</a>
         a rebranded Minolta X300 sold by Jessops.
         Bought it on ebay for £5 bundled with a Centon 50mm f1.8 lens. Not much to say about it,
         it does what a film SLR camera is supposed to do – take photos.
         All manual. It’s a nice simple camera, definitely worth the £5 I’ve spent on it.
       </p>

       <p>
         As a rebranded Minolta camera it uses the MD mount and takes all manual Minolta lenses.
         You can still find some nice and cheap options on eBay. Like the Minolta 135mm f/3.5
       </p>
       <p>
         For most of the time when going from home to work or not specifically going out
         to take pictures, I’ll have this camera in my bag. Mounted with a Minolta 135mm.
         It works great because the camera is light, easy to use and relatively quiet.
         It takes 2 button batteries that seem to last forever, that’s something you won’t find
         in digital cameras. Always ready to take a shot, anywhere.
       </p>
       <p>
         It may not be the best camera ever, but for that price and the amount of cheap
         lenses available, it’s pretty good.
       </p>

       <h2>Photography taken with the Centon DF-300</h2>
       <p>
         The following photos are taken with the Centon DF-300, some dodgy 35mm colour film
         called ‘Tudor’ and developed in some even more dodgy local photo place.
       </p>

       <p>
         <img src="http://thatcameraguy.co.uk/wp-content/uploads/2015/08/centon-df-300-01-1024x684.jpg" alt="indoors, taken with Centon DF-300, Vivitar 35-105mm, Tudor film." width="640" height="428">
         <span>Centon DF-300, Vivitar 35-105mm, Tudor film.</span>
       </p>

       <p>
         <img src="http://thatcameraguy.co.uk/wp-content/uploads/2015/08/centon-df-300-04-1024x684.jpg" alt="man smoking, taken with Centon DF-300, Vivitar 35-105mm, Tudor film." width="640" height="428">
         <span class="wp-caption-text">Centon DF-300, Vivitar 35-105mm, Tudor film.</span>
       </p>

       <p>
         <img src="http://thatcameraguy.co.uk/wp-content/uploads/2015/08/centon-df-300-02-1024x684.jpg" alt="motorcycle, taken with Centon DF-300, Vivitar 35-105mm, Tudor film." width="640" height="428">
         <span class="wp-caption-text">Centon DF-300, Vivitar 35-105mm, Tudor film.</span>
       </p>

       <p>
         <img src="http://thatcameraguy.co.uk/wp-content/uploads/2015/08/centon-df-300-03-1024x684.jpg" alt="portrait, taken with Centon DF-300, Vivitar 35-105mm, Tudor film." width="640" height="428">
         <span class="wp-caption-text">Centon DF-300, Vivitar 35-105mm, Tudor film.</span>
       </p>

       <p>
         <img src="http://thatcameraguy.co.uk/wp-content/uploads/2015/08/centon-df-300-05-1024x684.jpg" alt="man with his bird, taken with Centon DF-300, Tokina 28-70mm, Tudor film." width="640" height="428">
         <span>Centon DF-300, Tokina 28-70mm, Tudor film.</span>
       </p>
       <p>
         <img src="http://thatcameraguy.co.uk/wp-content/uploads/2015/08/centon-df-300-06-1024x684.jpg" alt="man smoking, taken with Centon DF-300, Tokina 28-70mm, Tudor film." width="640" height="428">
         <span>Centon DF-300, Tokina 28-70mm, Tudor film.</span>
       </p>
     </div>
   </div>

   <footer class="entry-meta">
     <p class="posted-on">
       Posted on
       <a href="http://thatcameraguy.co.uk/centon-df-300-minolta-x300/" rel="bookmark">
         <time class="entry-date published" datetime="2015-08-12T18:08:19+00:00">August 12, 2015</time>
         <time class="date updated" datetime="2015-08-24T09:22:06+00:00">August 24, 2015</time>
       </a>
     </p>

     <p class="byline">
       by
       <span class="author vcard">
         <a class="url fn n" href="http://thatcameraguy.co.uk/author/valters-krontals/">Valters Krontals</a>
       </span>
     </p>

     <p class="category-links">
       This entry was posted in
       <a href="http://thatcameraguy.co.uk/category/35mm/" rel="category tag">35mm</a>
     </p>

     <p class="tags-links">
       and tagged
       <a href="http://thatcameraguy.co.uk/tag/centon-df-300/" rel="tag">Centon DF-300</a>,
       <a href="http://thatcameraguy.co.uk/tag/color/" rel="tag">color</a>,
       <a href="http://thatcameraguy.co.uk/tag/film/" rel="tag">film</a>,
       <a href="http://thatcameraguy.co.uk/tag/minolta-x300/" rel="tag">Minolta x300</a>,
       <a href="http://thatcameraguy.co.uk/tag/tokina-28-70mm/" rel="tag">Tokina 28-70mm</a>,
       <a href="http://thatcameraguy.co.uk/tag/tudor-200/" rel="tag">tudor 200</a>,
       <a href="http://thatcameraguy.co.uk/tag/vivitar-35-105mm/" rel="tag">Vivitar 35-105mm</a>
     </p>

     <p class="bookmark-link">
       Bookmark the <a href="http://thatcameraguy.co.uk/centon-df-300-minolta-x300/" rel="bookmark">permalink</a>
     </p>
   </footer>
 </article>

 <!--<div id="disqus_thread"><iframe id="dsq-app1" name="dsq-app1" allowtransparency="true" frameborder="0" scrolling="no" tabindex="0" title="Disqus" width="100%" src="http://disqus.com/embed/comments/?base=default&amp;version=f1fc394da3cce1ce14a557d8c927c837&amp;f=thatcameraguycouk&amp;t_i=9%20http%3A%2F%2Fthatcameraguy.co.uk%2F%3Fp%3D9&amp;t_u=http%3A%2F%2Fthatcameraguy.co.uk%2Fcenton-df-300-minolta-x300%2F&amp;t_e=Centon%20DF-300%20%2F%20Minolta%20X300&amp;t_d=Centon%20DF-300%20%7C%20Minolta%20X300%20short%20review%20and%20sample%20photos&amp;t_t=Centon%20DF-300%20%2F%20Minolta%20X300&amp;s_o=default&amp;l=" style="width: 100% !important; border: none !important; overflow: hidden !important; height: 321px !important;" horizontalscrolling="no" verticalscrolling="no"></iframe></div>-->


