<% content_for(:canonical) { blog_url } %>
<% if params[:term_slug] %>
  <h2><strong><%= @term.name %></strong></h2>
<% end  %>

<% @posts.each do |post| %>
  <%= render 'posts/post', post: post %>
<% end %>

<%= render 'shared/components/pagination', navigation: @nav %>
