@media all {
  nav.pagination {
    ul {
      text-align: center;
      list-style-type: none;
      padding: .8em 0;
      margin: 0 12em;

      & > li {
        display: inline-block;
        a {
          display: block;
          width: 1.3em;
        }
      }
    }
  }
}
