@media all {
  body {
    font-family: Oxygen, sans-serif;
    color: $color-text;
    background-color: $color-background;
    line-height: 1.5;
    word-wrap: break-word;
    min-width: 320px;
  }

  main {
    margin-left: auto;
    margin-right: auto;

    & > h2:first-child {
      text-align: center;
      color: lighten($color-text, 30%);
      text-transform: uppercase;
    }
  }

  a {
    color: lighten($color-text, 20%);
  }

  img {
    width: 100%;
    max-width: 1280px;
    height: auto;
  }


  ul.menu {
    margin: 0;
    list-style-type: none;
    margin-bottom: 2em;

    li {
      display: inline-block;
      margin: 0;
      font-size: 1.2em;
      font-weight: 600;

      a {
        color: lighten($color-text, 30%);
        letter-spacing: 1px;
      }

      &:before {
        content: '|';
        margin: 0 .5em;
      }

      &:first-child:before {
        content: none;
      }

    }

  }

  article {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 7em;


    header h1 {
      font-size: 2em;
      text-transform: uppercase;
      margin-bottom: .5em;

      a {
        color: black;
        font-weight: 800;
        letter-spacing: 2px;
      }
    }

    @media all and (max-width: 700px ) {
      margin-top: 2em;
      margin-bottom: 3.5em;

      header h1 {
        font-size: 1.3em;
      }
    }

    &.post .entry-content {
      p.entry-thumbnail + p {
        font-size: 1.4em;
        margin-top: 3em;
      }

      p.entry-thumbnail + p,
      & + footer {
        text-align: left;
        max-width: 700px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }

      @media all and (max-width: 700px ) {
        p.entry-thumbnail + p {
          font-size: 1.1em;
          margin-top: 1.5em;
        }
      }

    }

  }

  nav {
    border-top: 10px solid lighten($color-text, 85%);
    padding-top: 3em;
    padding-bottom: 5em;

    h1 {
      position: absolute;
      left: -999999999999px;
    }

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    .nav-links {
      .nav-previous,
      .nav-next {
        background-color: lighten($color-text, 85%);
        padding: .5em .7em;
        font-size: 1.2em;
        text-transform: uppercase;
      }

      .nav-previous {
        float: left;
      }

      .nav-next {
        float: right;
      }
    }

  }

  main + footer {
    clear: both;

    text-align: center;
  }

  .group:after {
    content: "";
    display: table;
    clear: both;
  }

  footer.site-footer {
    opacity: .5;
    padding-bottom: 3em;
    letter-spacing: 2px;
  }
}
