<nav role="navigation">
  <h1 class="screen-reader-text">Posts navigation</h1>
  <div class="nav-links">

    <div class="nav-previous">
      <%= link_to navigation.previous do %>
        <span class="meta-nav">←</span> Older posts
      <% end %>
    </div>

    <div class="nav-next">
      <%= link_to navigation.next do %>
        Newer posts <span class="meta-nav">→</span>
      <% end %>
    </div>

  </div>
</nav>
