<footer class="site-footer" role="contentinfo">

  <p class="site-info">
    <%= link_to 'Developed by vkrontals', site_author.url %> | Copyright 2015 | All rights reserved
  </p>

</footer>

<%= render 'shared/google_analytics' %>
