<header role="banner">
  <h1 class="site-title"><a href="http://thatcameraguy.co.uk/" rel="home">That camera guy</a></h1>
  <h2 class="site-description">Street photography and stuff</h2>
  <ul class="menu">
    <li><a href="http://thatcameraguy.co.uk/">Blog</a></li>
    <li><a href="http://thatcameraguy.co.uk/camera-gear/">Camera gear</a></li>
    <li><a href="http://thatcameraguy.co.uk/archives/">Archives</a></li>
  </ul>
</header>